services:
  iptv-web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: xtremflow
    restart: unless-stopped
    ports:
      - "8089:8089"
    networks:
      - nginx_default

networks:
  nginx_default:
    external: true
