services:
  iptv-web:
    build: .
    ports:
      - "8089:8089"
    networks:
      - nginx_default
    volumes:
      - xtremflow-data:/app/data
    restart: unless-stopped

volumes:
  xtremflow-data:

networks:
  nginx_default:
    external: true
